# Translations
*.mo



# Autodoc
# =======
docs/build

# The *.rst files for the api are created automatically by autodoc. So we
# ignore them.
docs/source/api/*.rst
!docs/source/api/index.rst

# autodoc (see comment above for api)
docs/source/plugins/*.rst
!docs/source/plugins/index.rst



# Development & Testing
# =====================

# C extensions
*.so

# Python's temp files
*.py[cod]

# Unit test / coverage reports
.coverage
.tox
nosetests.xml



# Development environments
# ========================

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# virtualenv
venv



# Packaging & Installation
# ========================
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
MANIFEST

# Installer logs
pip-log.txt
